


/* My css*/
.circular-image{
  border-radius: 50%;
  width: 40px;
  margin: 2%;
  box-shadow: 5px 5px 5px #ccc;
}

.container{
  margin-top: 1.5%;
}

.myDiv{
  background-color: white;
}



.left-shadow{

}
#my-title{
  text-align: left;
  font-weight: 700 ;
}

#transparency-text{
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: lighter;
  font-size: 70%;
}

#username-div{
  text-align: right;
  
}

.left-border{
 
  box-shadow:  -3px 0 8px -4px #ccc;
}


