:root {
  --myblue:linear-gradient(to bottom, #0000ff 0%, #3399ff 100%)
 
}


/* My css*/

hr{
  width: 40px;
  border-top: 5px solid #2826ab;

}



.circular-image{
  border-radius: 50%;
  width: 40px;
  margin: 2%;
  box-shadow: 5px 5px 5px #ccc;
}

.container{
  margin-top: 1.5%;
}

.myDiv{
  background-color: white;
}



.left-shadow{

}


.left-border{
 
  box-shadow:  -3px 0 8px -4px #ccc;
}

.sub-heading{
  font-size: 16px;
}

.past-activity-divs{

}

.dates{
  font-size: 10px;
  font-weight: lighter;
  color: gray;
}

.sub-text{
  font-size: 10px;
  font-weight: lighter;
  color: gray;
}

.check-btn{
  color: #30e661;
 
}

.activity-divs{
  margin: 8% 0% 8% 0%;
}
.meter{
  width: 100%;
  color: #2826ab;
  border: 2px solid black;
  
}

meter::-webkit-meter-optimum-value {
  background: blue
}

#main-metrics-div{
  padding: 3%;
}


#my-title{
  text-align: left;
  font-weight: 700 ;
}

#transparency-text{
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: lighter;
  font-size: 70%;
}

#username-div{
  text-align: right;
  
}

#past-activity-content-div{
  margin: 10% 0% 30% 0%;
}

#past-activity-div{
  padding: 5%;
}

#graph1{
  padding: 3%;
  margin: 10% 0% 10% 0%;
  
}

#loan-metrics-barchart-div{
  margin-top: 10%;
  height: 200px;
  margin-bottom: 5%;
}